{% extends 'base.template.html' %}

{%block content%}

<!--Create Customer Feedback-->
<h1>Customer Feedback</h1>


     <div style="display:flex;flex-wrap:wrap">

        {%for comment in comments %}
        <div class="card m-3" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">Name:{{comment.name}}</h5>
                <p class="card-text">Mobile: {{comment.mobile}}</p>
                <p class="card-text">Resaurant Name: {{comment.restaurant_name}}</p>
                <p class="card-text">Reviews: {{comment.reviews}}</p>
                
            </div>
            </div>
        
        {%endfor%}


    
     </div>
    {%endblock%}

          