
{%extends 'base.template.html'%}

{%block content%}

<h1 style="text-align: center;"> Welcome to Restaurant Directory</h1>


  <div class = "cotainer">
    <div class="row">
    <div class="col-lg box">
      <img src="/static/images/waiter.png" alt="detective" width="200" height="300">
    </div>
   <div class="col-lg box">
      <img src="/static/images/computersearch.png" alt="detective" width="300" height="300">
    </div>
    <div class="col-lg box3">
      <img src="/static/images/waiter.png" alt="detective" width="200" height="300">
 
    </div>
</div>
</div>

    <div class="w-100"></div>


   <div class = "container">
    <div class="col-lg">
     <h2 style="text-align: center;">Search for your favourite cuisine type by keying it in the search box below</h2>
    </div>

        
       <div class="col-lg">
         <form method="GET"> 
            <input type="text" name="flavour" class="form-control"
                placeholder="Search for a cuisine (italian,japanese,american,korean,indian or chinese ) to see the restaurant details. Please input in lowercase letters">

           <input type="submit" value="search" class="btn btn-primary m-3" style="text-align:center; width:160px"/>
        </form>

    </div>
    </div>

    
    
{% endblock %}
