{% extends 'base.template.html'%}

{%block content%}

<h1> Leave your feedback</h1>


    
<form method = "POST">
  <div>
        <label class="form-label">Name:</label>
        <input type="text" name="name" class="form-control"/>
  </div>

  <div>
        <label class="form-label">Mobile:</label>
        <input type="text" name="mobile" class="form-control"/>
  </div>

  <div class="input-field">
        <label class="form-label">Restaurant Name:</label>
        <input type="text" name="restaurant_name" class="form-control"/>
         
        <select>
            <option value="Italian Brothers">Italian Brothers</option>
            <option value="Amit Hyderabad Palace">Amit Hyderabad Palace</option>
            <option value="American Grill">American Grill</option>
            <option value="Thai Palace">Thai Palace</option>
            <option value="WoknFry">WoknFry</option>
            <option value="Sushi Garden">Sushi Garden</option>
            <option value="House of Spice">House of Spice</option>
            <option value="Slice of Sicily">Slice of Sicily</option>
            <option value="Rose of India">Rose of India</option>
            <option value="Siam Dynasty">Siam Dynasty</option>
            <option value="Chan&Chan">Chan&Chan</option>
            <option value="Big Billy">Big Billy</option>
            <option value="Genki Udon">Genki Udon</option>
            <option value="Warong Kami">Warong Kami</option>
            <option value="Blackpink Eats">Blackpink Eats</option>

            
        </select>      
  </div>

  <div>
        <label class="form-label">Reviews: </label>
        <input type="text" name="reviews" class="form-control"/>
  </div>


  <input type="submit" value="Add Feedback" class="mt-3 mb-3 btn btn-primary"/>
  
  </form>
 

{%endblock%}
