{% extends 'base.template.html' %}

{%block content%}


<h1>Deals</h1>


    <div style="display:flex;flex-wrap:wrap">

        {%for offer in offers %}
        <div class="card m-3" style= "width:18rem;">
            <img class="card-img-top" src="{{offer.image}}" alt="image">
            <div class="card-body">
                <h5 class="card-title">Restaurant Name:{{offer.name}}</h5>
                <h6 class="card-text">Deals: {{offer.deals}}</h6>
             
         </div>
        </div>
        {%endfor%}
    </div>
    {%endblock%}